@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



// Color Palette

$gold: #FFDC53;
$red: #FF5050;
$gray-text: #818E9D;
$gray-faded: #1B2329;
$gray-bright: #273546;
$green-main: #00FF86;
$green-hover: #03d875;
$dark-main: #0A1119;
$dark-faded: #131A22;
$black: #000000;
$white: #ffffff;



// Misc & Other

$border-rad-xs: 0.5rem;
$border-rad-sm: 1rem;
$border-rad-md: 2rem;
$border-rad-lg: 3rem;
$border-rad-xl: 4rem;



// Default Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    outline: none;
    cursor: pointer;
}

.App {
    height: fit-content;
    overflow: hidden;
    background-color: $dark-main;
}

::-webkit-scrollbar {
    background-color: $dark-faded;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-bright;
    border-radius: 10px;
}



// Mixins

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-grad-blue($degree: 180deg) {
    background: linear-gradient($degree, rgba(13, 204, 255, 1) 0%,rgba(71, 96, 255, 1) 100%);
}



// Dividers & Containers

.navbar-divider {
    margin-top: 8rem;
}

.context-wrapper {
    padding: 0 2rem;

    @media(max-width: 1024px) {
        padding: 0 1.5rem;
    }

    @media(max-width: 425px) {
        padding: 0 1rem;
    }
}

.page-container {
    padding-left: 20rem;

    @media(max-width: 1720px) {
        padding-left: 18rem;
    }

    @media(max-width: 1440px) {
        padding-left: 0;
    }
}