@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.App {
    height: 200vh;
    overflow: hidden;
}



// Color Palette

$blue-light: #0dccff;
$blue-normal: #4760ff;
$blue-slate: #444e98;
$navy-light: #262f6d;
$navy-normal: #0e164a;
$navy-dark: #0a0f33;
$white: #ffffff;



// Default Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    outline: none;
    cursor: pointer;
}



// Mixins

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-grad-blue($degree: 180deg) {
    background: linear-gradient($degree, rgba(13, 204, 255, 1) 0%,rgba(71, 96, 255, 1) 100%);
}



// Dividers & Containers

.navbar-divider {
    margin-top: 20rem;
}