@import "../../globals.scss";


.balancePage {
    height: fit-content;

    .methodSelector {
        background-color: $gray-faded;
        display: flex;
        column-gap: 1rem;
        width: fit-content;
        padding: 0.5rem;
        border-radius: $border-rad-xs;

        p {
            background-color: $gray-bright;
            color: $white;
            width: 6rem;
            height: 2rem;
            @include flex-center;
            border-radius: $border-rad-xs;
            cursor: pointer;
            font-weight: 500;
            font-size: 0.9rem;
            transition: background-color 0.2s ease, color 0.2s ease;
        }
    }

    .cryptoCurrencies {
        display: flex;
        flex-direction: column;

        .errorMessage {
            color: $white;
            font-size: 1rem;
            font-weight: 400;
            @include flex-center;
            padding: 2rem 0;
        }
        
        ul {
            display: flex;
            column-gap: 1rem;
            row-gap: 1rem;
            flex-wrap: wrap;

            li {
                border-radius: $border-rad-xs;
                overflow: hidden;
                transition: box-shadow 0.2s ease;
                width: 9rem;
                cursor: pointer;

                @media(max-width: 580px) {
                    width: 100%;
                    display: flex;
                }

                .coinContainerTop {
                    @include flex-center;
                    background-color: $gray-bright;
                    padding: 1rem 0;

                    @media(max-width: 580px) {
                        padding: 1rem;
                    }

                    img {
                        height: 50px;
                        aspect-ratio: 1;

                        @media(max-width: 580px) {
                            height: 40px;
                        }
                    }
                }

                .coinContainerBottom {
                    @include flex-center;
                    flex-direction: column;
                    row-gap: 1rem;
                    background-color: $gray-faded;
                    padding: 0.8rem 0;

                    @media(max-width: 580px) {
                        width: 100%;
                        row-gap: 0.3rem;
                        padding: 0;
                    }

                    h2 {
                        color: $white;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    p {
                        color: $gray-text;
                        font-size: 0.8rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .bankDeposit {

        .bankCards {
            display: flex;
            column-gap: 1rem;
            row-gap: 1rem;
            flex-wrap: wrap;

            .bankCard {
                @include flex-center;
                width: 12rem;
                background-color: $gray-faded;
                border-radius: $border-rad-xs;
                padding: 1rem 0;
                column-gap: 0.5rem;
                cursor: pointer;
                transition: box-shadow 0.2s ease;

                &:hover {
                    box-shadow: 0px 0px 10px 2px $green-main;

                    i {
                        color: $green-main;
                    }
                }

                @media(max-width: 580px) {
                    width: 100%;
                    justify-content: start;
                    padding-left: 1rem;
                }

                i {
                    color: $white;
                    font-size: 1.5rem;
                    background-color: $gray-bright;
                    padding: 0.6rem;
                    border-radius: $border-rad-xs;
                    transition: color 0.2s ease;
                }

                p {
                    font-weight: 500;
                    color: $gray-text;
                }
            }
        }
    }

    .marketplaces {

        .marketplacesContainer {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            .marketplace {
                @include flex-center;
                width: 12rem;
                background-color: $gray-faded;
                border-radius: $border-rad-xs;
                padding: 1rem 0;
                column-gap: 0.5rem;
                cursor: pointer;
                transition: box-shadow 0.2s ease;

                &:hover {
                    box-shadow: 0px 0px 10px 2px $green-main;
            
                    i {
                        color: $green-main;
                    }
                }
            
                @media(max-width: 580px) {
                    width: 100%;
                    justify-content: start;
                    padding-left: 1rem;
                }
            
                i {
                    color: $white;
                    font-size: 1.5rem;
                    background-color: $gray-bright;
                    padding: 0.6rem;
                    border-radius: $border-rad-xs;
                    transition: color 0.2s ease;
                }
            
                p {
                    font-weight: 500;
                    color: $gray-text;
                }
            }
        }
    }
}