@import "../../globals.scss";


.rouletteHistory {
    display: flex;
    justify-content: end;
    position: relative;
    padding-top: 1.2rem;

    p {
        font-size: 0.8rem;
        color: $gray-text;
        font-weight: 500;
        @include flex-center;
        position: absolute;
        right: 0;
        top: 0;

        @media(max-width: 425px) {
            font-size: 0.7rem;
        }

        i {
            font-size: 0.7rem;
            margin-right: 3px;

            @media(max-width: 425px) {
                font-size: 0.6rem;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 0.3rem;

        li {
            height: 40px;
            width: 40px;
            border-radius: $border-rad-xs;
            @include flex-center;
            color: $white;
            font-weight: 500;
            font-size: 0.9rem;

            @media(max-width: 670px) {
                height: 30px;
                width: 30px;
                font-size: 0.8rem;
                font-weight: 400;
                border-radius: 5px;
            }

            @media(max-width: 425px) {
                height: 25px;
                width: 25px;
                font-size: 0.7rem;
            }
        }
    }
}
