@import "../../globals.scss";


.SlotPage {
    height: 90vh;

    .slotDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;

        @media(max-width: 670px) {
            flex-direction: column;
            row-gap: 1rem;
        }

        .slotContainer {
            background-color: $gray-faded;
            height: 152px;
            width: fit-content;
            display: flex;
            column-gap: 1rem;
            padding: 1rem;
            border-radius: $border-rad-sm;
            overflow: hidden;

            @media(max-width: 670px) {
                height: 132px;
            }

            @media(max-width: 425px) {
                padding: 10px;
                column-gap: 0.5rem;
                width: 100%;
                justify-content: center;
                height: 105px;
            }

            .slotRow {
                transition: transform 1.5s ease;

                .slotItem {
                    border: 1px solid $green-main;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 120px;
                    background-color: $gray-bright;
                    font-size: 2rem;
                    border-radius: $border-rad-sm;
                    margin-bottom: 1rem;

                    @media(max-width: 670px) {
                        height: 100px;
                        width: 100px;
                        font-size: 1.6rem;
                    }

                    @media(max-width: 425px) {
                        width: 85px;
                        height: 85px;
                    }
                }
            }
        }

        .slotButtons {
            display: flex;
            column-gap: 1rem;

            @media(max-width: 425px) {
                width: 100%;
            }

            button {
                @include flex-center;
                flex-direction: column;
                height: 152px;
                width: 4rem;
                border: none;
                row-gap: 0.2rem;
                border-radius: $border-rad-sm;

                @media(max-width: 670px) {
                    flex-direction: row;
                    width: 10rem;
                    height: 4rem;
                }

                @media(max-width: 425px) {
                    width: 100%;
                }
        
                p {
                    font-size: 1rem;
                    font-weight: 600;
                    height: fit-content;
                    line-height: 1rem;
                }
            }
            
            .resetButton {
                background-color: $red;
        
            }
        
            .rollButton {
                background-color: $green-main;
            }
        } 
    }
}







