@import "../../globals.scss";


.SlotPage {
    height: 90vh;

    .slotTitle {
        @include flex-space-between;
    }

    .slotDisplay {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;

        @media(max-width: 500px) {
            flex-direction: column;
            row-gap: 1rem;
        }

        .slotContainer {
            background-color: $gray-faded;
            height: 152px;
            width: fit-content;
            display: flex;
            column-gap: 1rem;
            padding: 1rem;
            border-radius: $border-rad-sm;
            overflow: hidden;
            position: relative;

            @media(max-width: 670px) {
                height: 132px;
            }

            @media(max-width: 425px) {
                padding: 10px;
                column-gap: 0.5rem;
                justify-content: center;
                height: 105px;
            }

            .slotRow {
                transition: transform 1.5s ease;

                .slotItem {
                    border: 1px solid $green-main;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    height: 120px;
                    background-color: $gray-bright;
                    font-size: 2rem;
                    border-radius: $border-rad-sm;
                    margin-bottom: 1rem;

                    @media(max-width: 670px) {
                        height: 100px;
                        width: 100px;
                        font-size: 1.6rem;
                    }

                    @media(max-width: 425px) {
                        width: 85px;
                        height: 85px;
                    }
                }
            }
        }
    }
}

.slotButtonsFrame {
    display: flex;
    height: 152px;
    width: 4rem;
    position: relative;
    overflow: hidden;

    @media(max-width: 670px) {
        height: 132px;
    }

    @media(max-width: 500px) {
        height: 4rem;
        width: 10rem;
    }

    .slotButtons {
        display: flex;
        flex-direction: column;
        column-gap: 1rem;
        height: fit-content;
        position: absolute;
        bottom: 0;
        transition: transform 0.3s ease-out;
        transform: translateY(0);

        button {
            @include flex-center;
            flex-direction: column;
            height: 152px;
            width: 4rem;
            border: none;
            row-gap: 0.2rem;
            border-radius: $border-rad-sm;
            transition: transform 0.2s ease, background-color 0.2s ease;

            @media(max-width: 670px) {
                height: 132px;
            }

            @media(max-width: 500px) {
                flex-direction: row;
                width: 10rem;
                height: 4rem;
            }

            p {
                font-size: 1rem;
                font-weight: 600;
                height: fit-content;
                line-height: 1rem;
            }
        }

        .resetButton {
            background-color: $red;

            &:hover {
                background-color: $red-hover;
                transform: translateY(-5px);
            }

            &:disabled {
                background-color: $red;
            }
        }

        .rollButton {
            background-color: $green-main;

            &:hover {
                background-color: $green-hover;
                transform: translateY(5px);
            }

            &:disabled {
                background-color: $green-main;
            }
        }
    }
}







