@import "../globals.scss";


.betInput {
    background-color: $dark-faded;
    padding: 2rem 1rem 1rem 1rem;
    border-radius: $border-rad-xs;
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 1rem;

    @media(max-width: 1050px) {
        flex-direction: column;
        align-items: start;
        row-gap: 1rem;
    }

    p {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        font-size: 0.8rem;
        color: $gray-text;
    }

    .betInputContainer {
        background-color: $gray-faded;
        height: 2.6rem;
        border-radius: $border-rad-xs;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 100%;

        i {
            position: absolute;
            left: 0.5rem;
            color: $green-main;
        }

        button {
            height: 100%;
            padding: 0 0.5rem;
            outline: none;
            border: none;
            background-color: $gray-bright;
            color: $white;
            font-weight: 500;
            transition: color 0.2s ease;

            &:hover {
                color: $green-main;
            }
        }

        input {
            background-color: transparent;
            border: none;
            font-size: 1.2rem;
            padding: 0 0.8rem 0 2rem;
            border-radius: $border-rad-xs;
            height: 2.6rem;
            color: $white;
            width: 100%;
            outline: none;

            &:focus {
                border: 1px solid $green-main; 
            }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            // margin: 0;
        }
    }

    .buttons {
        display: flex;
        column-gap: 0.5rem;
        width: 100%;

        @media(max-width: 670px) {
            display: grid;
            grid-template-columns: repeat(15, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0.5rem;
        }

        button {
            background-color: $green-faded;
            width: 100%;
            height: 2.6rem;
            border: none;
            font-weight: 500;
            color: $green-main;
            border-radius: $border-rad-xs;
            transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;

            @media(max-width: 1050px) {
                width: 100%;
            }
            
            &:hover {
                transform: translateY(-5px);
                background-color: $green-main;
                color: $dark-main;
            }
        }
    }
}