@import "../globals.scss";


.loadingContainer {
    height: 100vh;
    background-color: $dark-faded;
    position: absolute;
    width: 100%;
    z-index: 99;
    @include flex-center;
    flex-direction: column;
    row-gap: 2rem;
    transition: transform 0.8s ease;
    
    .loadingLogo {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        img {
            height: 2rem;
        }

        h1 {
            font-size: 1.8rem;
            color: $green-main;
            font-weight: 600;
        }
    }

    p {
        position: absolute;
        bottom: 1rem;
        color: $gray-text;
        font-size: 0.9rem;
    }
}